#body{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 100px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    width: 450px;
    height: 550px;
}
#calculator-ui{
    background-color: black;
    flex-direction: row;
    justify-items: center;
    width: 450px;
    height: 550px;
}
.display{
    display:flex;
    justify-content: flex-start;
    background-color:gray;
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 15px;
}
.buttons{
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    height: 400px;

}
button{
    height: 80px;
    width: 100px;
    border-radius: 5px;

}
.top-buttons{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}
.others{
    background-color: lightskyblue;
    border-style: solid;

    border-color: black;
}
#numbers{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    
}
.numbers{
    background-color: teal;
    border-style: solid;
    border-color: black;
}
